.inputstyle {
  display: flex;
  flex-direction: ;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btnsub {
  height: 2rem;
  min-width: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  background-color:#159A9C;
}
.inp {
  padding-left: 20px;  
  padding-right: 40px;
  border-radius: 5px;
  height: 2rem;
}
label {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.7em;
}