
h1 {
  color: rgb(207, 207, 207);
  padding: 20px;
  font-size: 4rem;
}
.inputstyle {
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  width: 500px;
}
body {
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
input[type="text"] {
  font-size: 1.7rem;
  padding: 15px;
  background-color: hsla(0, 0%, 83%, 0.568);
  border: 2px solid hsla(0, 0%, 43%, 0.541);
  border-radius: 5px;
  margin-right: 10px;
}
input[type="text"]::placeholder {
  color: black;
}
.btnsub {
  font-size: 1.6rem;
  padding: 16px;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  background-color: hsl(134, 90%, 46%);
  border: none;
  transition: background-color 0.5s ease, transform 0.2s ease;;
}
.btnsub:hover {
  background-color:hsl(134, 98%, 27%); ;
  transform: scale(1.02);
}
li button:hover {
  background-color: hsl(0, 100%, 37%);
  transform: scale(1.02);
}
ol{
  padding: 0;
}
li button {
  margin-left: 0.3em;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  align-items: center;
  right: 1em;
  font-size: 1.7rem;
  padding: 7px 20px;
  background-color: hsl(0, 100%, 57%);
  transition: background-color 0.5s ease, transform 0.2s ease;
}

li{
  padding: 0.5em;
  padding-left: 35px;
  padding-right: 20px;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  overflow-wrap: anywhere;
  background-color: hsl(217 28% 65%);
  margin-top: 1em;
  border-radius: 18px;
  box-shadow: 2px 5px 10px 0px rgba(245, 244, 244, 0.301);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --bg-dark: hsl(228 79% 2%);
--bg: hsl(222 55% 5%);
--bg-light: hsl(220 35% 10%);
--text: hsl(220 100% 98%);
--text-muted: hsl(220 35% 73%);
--highlight: hsl(220 20% 42%);
--border: hsl(220 26% 31%);
--border-muted: hsl(220 37% 20%);
--primary: hsl(220 78% 76%);
--secondary: hsl(40 53% 60%);
--danger: hsl(9 26% 64%);
--warning: hsl(52 19% 57%);
--success: hsl(146 17% 59%);
--info: hsl(217 28% 65%);
}
.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: var(--bg-dark);
  color: rgba(255, 255, 255, 0.801);
  text-align: center;
  padding: 1em 0;
  z-index: 100;
}